DATABASE_URL="Your DB URL"
JWT_SECRET="YOUR JWT SECRET"
POSTGRES_PASSWORD="YOUR POSTGRES PASSWORD"
POSTGRES_USER="YOUR POSTGRES USER"
POSTGRES_DB="YOUR POSTGRES DATABASE"
POSTGRES_PORT="POSTGRES PORT NUMBER"
